.Assignment{
    background: red;
    padding: 10px;
    text-align: center;
}

.i{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 100%;
    border: 5px solid black;
    margin: 20px auto;
}
.kin{
    background: rgb(131, 169, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 25%;

}
.ere{
    display: flex;
    text-align: center;
}
.past{
   text-decoration: none;
   color: bisque;
   margin: 15px;
   margin-left: 20px;
   
}
.ii{
    width: 350px;
    height: 350px;
    background-color: blue;
    border-radius: 100%;
    border: 5px solid black;
    margin: 20px auto;

}
.iii{
    width: 300px;
    height: 300px;
    background-color: brown;
    border-radius: 100%;
    border: 5px solid black;
    margin: 20px auto;
}
.iv{
    width: 250px;
    height: 250px;
    background-color:yellow;
    border-radius: 100%;
    border: 5px solid black;
    margin: 20px auto;
}
.v{
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    border-radius: 100%;
    border: 5px solid black;
    margin: 20px auto;
}
.vi{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 100%;
    border: 5px solid black;
    margin: 20px auto;
}
h1{
    text-align: center;
    
}
p{
    text-align: center;
}
img{
    object-fit: contain;
    position: fixed;
    bottom: 2px;
    right: 10px;
}
