.kin{
    background: rgb(131, 169, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}
.fefe{
    display: flex;
    align-items: center
}
.wuro{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.ere{
    display: flex;
    text-align: center;
}
.past{
   text-decoration: none;
   color: bisque;
   margin: 15px;
   margin-left: 20px;
   
   
}

h3{
    text-align: center;
    color: rgb(255, 145, 0);
}