ul{
    list-style-type: lower-roman;
    background: gold;
    width: fit-content;
    

}
a{
    text-decoration: none;
    color: black;
    
}
ol{
    list-style-type: lower-alpha;
    background: yellow;
    width: fit-content;
}
.aae{
    object-fit: contain;
    opacity: 1;
    filter: blur(1px) brightness(4)
            contrast(300%) invert(20%)
            hue-rotate(5deg); 
}
.kin{
    background: rgb(131, 169, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}
.fefe{
    display: flex;
    align-items: center
}
.wuro{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.ere{
    display: flex;
    text-align: center;
}
.past{
   text-decoration: none;
   color: bisque;
   margin: 15px;
   margin-left: 20px;
   
}